OPENID_AUTHORIZE_URL=https://auth.example.com/authorize
OPENID_TOKEN_URL=https://auth.example.com/oauth/token
OPENID_USERINFO_URL=https://auth.example.com/application/o/userinfo/
OPENID_CLIENT_ID=hfQ3kkxs3C45mCsc0fI8lvthuQGr7bqc
OPENID_CLIENT_SECRET=1QzLnSc1Rc3MCPm0QV2FLNaKk-Jk0bUjaCageDvxIkd2-Mp50ipiP-MCPm0QV-Da
PRIVATE_IPV4=192.168.1.0/24