TRAEFIK_CERTIFICATESRESOLVERS_myresolver_ACME_EMAIL=tipi@example.com
CF_DNS_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BASICAUTH_DEFAULT_USER01=tipi:$$apr1$$f.TgZBq.$$KF7PAp5j4Nn8Q7j3uHh.h/
PLUGIN_GEOBLOCK_ALLOWEDCOUNTRIES=CH
IPALLOWLIST_LOCAL_SOURCERANGE01=192.168.1.0/24
IPALLOWLIST_NONE_SOURCERANGE01=192.168.1.1/32
IPALLOWLIST_NONE_EXCLUDEDIPS=192.168.1.1/32
SERVICE01_FQDN=service01.example.com
SERVICE01_URL=https://192.168.1.2:8443