WUD_REGISTRY_LSCR_PRIVATE_USERNAME=username
WUD_REGISTRY_LSCR_PRIVATE_TOKEN=github_pat_11...h9
WUD_TRIGGER_SMTP_STARTMAIL_HOST=smtp.example.com
WUD_TRIGGER_SMTP_STARTMAIL_PORT=465
WUD_TRIGGER_SMTP_STARTMAIL_USER=user@example.com
WUD_TRIGGER_SMTP_STARTMAIL_PASS=secret
WUD_TRIGGER_SMTP_STARTMAIL_FROM=user@example.com
WUD_TRIGGER_SMTP_STARTMAIL_TO=user@example.com
WUD_TRIGGER_SMTP_STARTMAIL_TLS_ENABLED=true
PRIVATE_IPV4=192.168.1.0/24