WUD_REGISTRY_LSCR_PRIVATE_USERNAME=username
WUD_REGISTRY_LSCR_PRIVATE_TOKEN=github_pat_11...h9
WUD_TRIGGER_SMTP_MAIL_HOST=smtp.example.com
WUD_TRIGGER_SMTP_MAIL_PORT=465
WUD_TRIGGER_SMTP_MAIL_USER=user@example.com
WUD_TRIGGER_SMTP_MAIL_PASS=secret
WUD_TRIGGER_SMTP_MAIL_FROM=user@example.com
WUD_TRIGGER_SMTP_MAIL_TO=user@example.com
WUD_TRIGGER_SMTP_MAIL_TLS_ENABLED=true
WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=my-wud-client-id
WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=this-is-a-very-secure-secret
WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=https://auth.example.com/.well-known/openid-configuration
WUD_AUTH_OIDC_AUTHENTIK_REDIRECT=true
PRIVATE_IPV4=192.168.1.0/24