TIMEZONE=Europe/Berlin
OIDC_PROVIDER_METADATA_URL=https://auth.example.com/application/o/freshrss/.well-known/openid-configuration
OIDC_CLIENT_ID=NDOK8tK4HDFOXMwEDuOICzVRQ1K3IMgCsXmazBlN
OIDC_CLIENT_SECRET=5NgfMxH29iGal88BzcDzDPQS4JCVWHHIXbGzRcezoTlhQa30NUansYA3T83gLoZ9RmRTj9AIM3hK7c2uwGfla5ylfeUCaICyHuzg2neU5IONmjYfXCyDBUMif7W1Q8dV