AUTHENTIK_ISSUER=https://auth.example.com/application/o/linkwarden
AUTHENTIK_CLIENT_ID=a3wFMBY9yCjldk0HxqMua7uIVIdeTCWxPddIu0Ih
AUTHENTIK_CLIENT_SECRET=lmMeKOq7HDDZg6DpOfV3ht0glUMsldOIeksgb9UOclzDtfJrqKyMJPBu1ZXpI1p4JG2GUBZHtZnFeauXysRYuwNEuXI3YztqOI319ryLxCWaf2bP5ZY06MJ6RZn1ff4W
PRIVATE_IPV4=192.168.1.0/24