OAUTH2_SERVER_URL=https://auth.example.com
OAUTH2_CLIENT_ID=hy5xoICE1e1ExAtwQcGHLPcIclKzlmx6VD9bLwDZ
OAUTH2_SECRET=gD0zj6OeexwZdFwvTaBEpkxM6ETjQ28u5DKcWHUp5MbBiSCinHwznMJW7unzJXQIa6PgeEVuPfKUALKTzuvYD13ev12COltTo4C3xAe07PJcHiXSogoVZTggJAi4ZoCf